[receive]
	requireSignedOffBy = true
[submit]
	action = fast forward only
[project]
	state = active
[access]
	inheritFrom = Kernel-Projects
[access "refs/heads/*"]
	owner = group kernel-owners
	push = group CCO3
[access "refs/heads/android-omap-panda-3.0"]
	label-Code-Review = -2..+2 group JBQ
	label-Verified = -1..+1 group JBQ
	submit = group JBQ
